<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.notificacionbar.cordova.plugins.notificacionbar"
        version="1.0.1">

    <name>Notificacion</name>

    <description>Descargar pdf o image en la barra de estado</description>
    <keywords>descargar, pdf, image, android</keywords>
    <license>LGPV v.3</license>

    <author>Jerryg04 (github.com/jerryg04)</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- ios -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
		<feature name="Notificacion">
			<param name="android-package" value="com.notificacionbar.cordova.plugins.notificacionbar.Notificacion"/>
		</feature>
        </config-file>

        <js-module src="www/notificacion.js" name="Notificacion">
            <clobbers target="plugins.notificacion" />
        </js-module>

		<source-file src="src/android/Notificacion.java" target-dir="src/com/notificacionbar/cordova/plugings/notificacionbar" />

    </platform>

</plugin>
